<?xml version="1.0"?>
<window>
  <width>1200</width>
  <height>900</height>
  <style
    material_theme="Light"
    material_primary="DeepOrange"
    material_accent="LightBlue"
    toolbar_color_light="#f3f3f3"
    toolbar_color_dark="#414141"
    plugin_toolbar_color_light="#bbdefb"
    plugin_toolbar_color_dark="#37474f"
  />
  <menus>
    <drawer default="closed"/>
  </menus>
  <plugin filename="GzScene3D" name="3D View">
    <gz:camera_pose>0 0 20 0 1.5707963 0</gz:camera_pose>
    <gz:camera_clip>
      <near>0.25</near>
      <far>25000</far>
    </gz:camera_clip>
  </plugin>
  <plugin filename="WorldControl" name="World control">
    <gz:play_pause>true</gz:play_pause>
    <gz:step>true</gz:step>
    <gz:start_paused>false</gz:start_paused>
  </plugin>
  <plugin filename="WorldStats" name="World stats">
    <gz:sim_time>true</gz:sim_time>
    <gz:real_time>true</gz:real_time>
    <gz:real_time_factor>true</gz:real_time_factor>
  </plugin>
</window>